/* ImageComponent.css */

.image-container {
    max-width: 300px; /* Set a maximum width for the container */
    overflow: hidden; /* Hide any content that overflows the container */
    margin: 0 auto; /* Center the container horizontally */
    background-color: black;
  }
  
  .image-container img {
    width: 100%; /* Make the image take up the full width of its container */
    height: auto; /* Allow the height to adjust based on the container size */
    display: block; /* Remove any extra spacing around the image */
    margin: 0 auto; /* Center the image horizontally */
  }
  